---
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <div class="flex items-center gap-2">
      <img class="w-6" src="https://drremain.cn/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fslogo-color.e736f19a.png&w=384&q=75" />
      <span class="text-3xl font-bold">
        Shijiao(尸佼)专属
      </span>
    </div>
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Dr.ReMain</span>
    <span class="gpt-subtitle">ChatGPT</span>
  </div>
</header>
